@import '../../style/var.less';

@prefix-cls: ~'@{smrc-prefix}-dropDownCard';

.@{prefix-cls} {
    position: relative;
    margin  : 4px auto 0;
    padding: 0 10px;
    overflow: hidden;

    & .title {
        margin         : 0px 0 10px;
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        font-size      : 24px;
        line-height    : 32px;
        color          : #FFFFFF;
        opacity        : 0.87;

        & .right {
            display    : flex;
            align-items: center;

            & .text {
                margin-right: 11px;
                display     : inline-block;
                font-size   : 14px;
                line-height : 22px;

                display    : flex;
                align-items: center;
                text-align : right;
                color      : rgba(255, 255, 255, 0.87);
                opacity    : 0.46;

                &.hide {
                    display: none;
                }
            }

            & .drop-icon {
                display         : block;
                width           : 12px;
                height          : 6px;
                transition      : transform 1s linear;
                background-image: url('../../assets/dropdown.png');
                background-size : 100% 100%;

                &.down {
                    transform: rotateX(180deg);
                }
            }
        }

    }
}

.@{prefix-cls}__block {
    position       : relative;
    width          : 100%;
    padding-top    : 10px;
    display        : flex;
    flex-wrap      : wrap;
    justify-content: flex-start;
    align-content  : flex-start;
    // transition     : height 0.6s linear;

}