@import '../../style/var.less';
@import '../../style/zIndex.less';

@prefix-cls: ~'@{smrc-prefix}-card';

.@{prefix-cls} {
  position: relative;
  margin  : 60px auto 0;

  h2 {
    position     : relative;
    display      : flex;
    align-items  : center;
    font-size    : 24px;
    line-height  : 32px;
    color        : rgba(255, 255, 255, 0.87);
    margin-bottom: 20px;
    font-weight  : normal;
    z-index      : @zIndex-1;
  }

  .description {
    margin-left: 12px;
    font-size  : 12px;
    line-height: 18px;
    color      : #FFFFFF;
    opacity    : 0.46;
  }

  .btn__more {
    &:hover {
      cursor: pointer;
      color : #9B9BFF;
    }

    position       : absolute;
    right          : 0;
    top            : 50%;
    transform      : translateY(-50%);
    font-size      : 14px;
    line-height    : 22px;
    text-align     : right;
    color          : #807DFF;
    text-decoration: none;
  }
}

.@{prefix-cls}__block {
  position: relative;
  width   : 100%;
}